{% extends 'layout.html' %}
{% block title %}My Page{% endblock %}
{% block head %}
{% parent %}
 
    <!-- <link rel="stylesheet" href="custom.css"> -->
    <script src="./script/index.js"></script>
{% endblock %}
{% block content %}
	<img src="./img/mi.gif" class="img" alt="">
	<p class="show-title">WORKS SHOW</p>
	 
	<a href="./pro"><img src="./img/arrow.png" alt="" class="arrow"></a>
	<p class="design">设计者:故乡</p>

    <div class="box">
    	<!-- <img src="./img/star.png" alt="" class="star"> -->
    	<div class="main">
    		<div class="bg">
    			<canvas id="canvas"></canvas>
				
    		</div>
    		
    	</div>
    	 

    	
    </div>
    {% parent %}
{% endblock %}