<!doctype html>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
     <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{% block title %}李故乡express{% endblock %}</title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    
    <link rel="stylesheet" href="./style/style.css">
    {% block head %}
        
    {% endblock %}
</head>
<body>
	<!-- <div id="header">顶部</div> -->
	
	 
    {% block content %}{% endblock %}
    <!-- <div id="footer">底部</div> -->
</body>
</html>