/*引入*/
@import "reset.css";
/*变量*/
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  /*运算*/
  font-size: 12px;
}
#header {
  width: 100%;
  height: 50px;
  position: absolute;
  background: #c3c;
  color: #fff;
  top: 0;
  left: 0;
  z-index: 123;
}
#footer {
  width: 100%;
  height: 100px;
  position: absolute;
  background: #c3c;
  color: #fff;
  bottom: 0;
  left: 0;
  z-index: 123;
}
/*mixins*/
/*嵌套*/
.box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box .star {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.box .main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.box .main .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 300%;
  height: 100%;
  overflow: hidden;
  animation: move 18s linear 0s infinite;
  -webkit-animation: move 18s linear infinite;
}
.box .main .bg #canvas {
  width: 100%;
  height: 120%;
}
.img {
  width: 120px;
  height: 120px;
  display: block;
  position: absolute;
  top: 18%;
  left: 50%;
  margin-left: -60px;
  z-index: 2;
}
.show-title {
  width: 80%;
  line-height: 70px;
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #fff;
  text-align: center;
  font-size: 25px;
  color: #fff;
  position: absolute;
  bottom: 28%;
  left: 10%;
  z-index: 2;
  font-weight: bolder;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
}
.arrow {
  width: 50px;
  height: 50px;
  display: block;
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -25px;
  z-index: 2;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  animation: arrow 1s ease-in-out 0s infinite;
  -webkit-animation: arrow 1s ease-in-out infinite;
}
.design {
  width: 100px;
  line-height: 30px;
  text-align: center;
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -50px;
  z-index: 2;
  font-size: 12px;
  color: yellow;
}
@media screen and (min-width: 800px) {
  .show-title {
    width: 50%;
    left: 25%;
  }
}
@keyframes arrow {
  0% {
    bottom: 60px;
  }
  100% {
    bottom: 30px;
  }
}
@-webkit-keyframes arrow {
  0% {
    bottom: 60px;
  }
  100% {
    bottom: 30px;
  }
}
@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
/*pro页面*/
.pro {
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #FFC125;
  position: relative;
  padding-bottom: 10px;
}
.pro .pro-top-menu {
  width: 100%;
  height: 70px;
  position: absolute;
  top: 125px;
  left: 0;
  z-index: 1;
}
.pro .pro-top-menu .books-box {
  width: 100%;
  height: 100%;
  display: block;
}
.pro .book-list {
  position: absolute;
  top: 45px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100px;
  padding-left: 7%;
  padding-right: 7%;
  display: flex;
  justify-content: space-around;
  font-size: 16px;
}
.pro .book-list li {
  width: 11%;
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  transform-origin: 20px top;
  cursor: pointer;
}
.pro .book-list li p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 93%;
  height: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5), -3px 0 7px rgba(0, 0, 0, 0.3);
  background: inherit;
}
.pro .main-con {
  width: 99%;
  height: 460px;
  overflow: auto;
  border-radius: 5px;
  background: transparent;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 200px;
}
.pro .main-con .tem {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.pro .main-con .tem h2 {
  width: 200px;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: 900;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pro .main-con .tem h2 img {
  width: 50px;
  height: 50px;
  margin-right: 6px;
}
.pro .main-con .tem .ul {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pro .main-con .tem .ul li {
  width: 17%;
  height: 260px;
  overflow: hidden;
  border: 1px solid #fff;
  margin: 10px 1.5%;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  position: relative;
  border-radius: 6px;
}
.pro .main-con .tem .ul li img {
  width: 100%;
  height: 100%;
}
.pro .main-con .tem .ul li .cover {
  width: 100%;
  height: 40%;
  line-height: 20px;
  overflow: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;
  padding: 10px;
  font-size: 12px;
}
.yoy {
  animation: run 0.8s ease both;
  -webkit-animation: run 0.8s ease both;
}
@keyframes run {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes run {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(4deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media screen and (max-width: 800px) {
  .pro .pro-top-menu {
    top: 80px;
  }
  .pro .book-list {
    top: 45px;
  }
  .pro .book-list li {
    width: 15%;
    height: 60px!important;
  }
  .pro .book-list li p {
    font-size: 12px;
  }
  .main-con {
    margin-top: 160px!important;
    height: 390px!important;
  }
  .main-con .ul {
    padding: 10px;
  }
  .main-con .ul li {
    width: 47%!important;
    height: 180px;
  }
}
@media screen and (min-width: 1200px) {
  .pro .pro-top-menu {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
  }
  .pro .book-list {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
  }
}
